<h1>Document</h1>
{{#link-to 'project' project}}Back to project{{/link-to}}
<br/>
<br/>

<br/>
<label for="formField-schema">Schema</label>
{{view Ember.Select
value=selectedSchema
content=schemaSelect
id="formField-schema"
optionValuePath="content.value"
optionLabelPath="content.label"
}}
{{#if isNewSchema}}
  {{input value=newSchemaName placeholder="New Schema Name"}}
  <div class="btn btn-primary" {{action 'saveNewSchema'}}>Create</div>
{{/if}}
<br/>
{{#if schema}}
  {{configuration.name}}
  <br/>
  <br/>
  {{#each schema.fields}}
    {{input value=key placeholder="key"}} -
    {{#if key}}
      {{view 'input-selector' type=type key=key }}
    {{/if}}
    <br/>
  {{/each}}

  <div class="btn btn-default" {{action 'addField'}}>Add Field</div>
  <br/>
  <div class="btn btn-primary" {{action 'save'}}>Save</div> {{#if saving}}Saving...{{/if}} {{#if flashSaved}}Saved.{{/if}}
{{/if}}